input
  color #08090A
::-webkit-input-placeholder /* WebKit browsers */
  color #B7B9BF
:-moz-placeholder /* Mozilla Firefox 4 to 18 */
    color #B7B9BF
::-moz-placeholder /* Mozilla Firefox 19+ */
    color #B7B9BF
:-ms-input-placeholder /* Internet Explorer 10+ */
    color #B7B9BF
.btn
  display inline-block
  width 100%
  height 4rem
  border-radius 0.2rem
  background #000000
  color #ffffff
  font-size 1.6rem
  line-height 4rem
  text-align center
.btn-gray
  background #cccccc
