input
  color #08090A
::-webkit-input-placeholder /* WebKit browsers */
  color #B7B9BF
:-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color #B7B9BF
::-moz-placeholder /* Mozilla Firefox 19+ */
  color #B7B9BF
:-ms-input-placeholder /* Internet Explorer 10+ */
  color #B7B9BF
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  background-color #ffffff
  background-image none
  color rgb(0, 0, 0)
.btn
  display inline-block
  width 100%
  height 4rem
  border-radius 0.2rem
  background #000000
  color #ffffff
  font-size 1.6rem
  line-height 4rem
  text-align center
.btn-gray
  background #cccccc
.bangdingIcon
  background url('../images/icon_binding.svg') no-repeat
  background-size 100% 100%
.helpIcon
  background url('../images/icon_help.svg') no-repeat
  background-size 100% 100%
.setIcon
  background url('../images/icon_setting.svg') no-repeat
  background-size 100% 100%
.userCenterIcon
  background url('../images/icon_user_sel.svg') no-repeat #ffffff
  background-size 20px 20px
  background-position center
.myTaskIcon
  background url('../images/icon_task.svg') no-repeat #ffffff
  background-size 20px 20px
  background-position center
.deleteIcon
  background url('../images/delete.svg') no-repeat
  background-size 100% 100%
.refreshIcon
  background url('../images/refresh.svg') no-repeat
  background-size 100% 100%
.wanderIcon
  background url('../images/wander.svg') no-repeat
  background-size 100% 100%
.jdIcon
  background url('../images/jdIcon.svg') no-repeat
  background-size 100% 100%
.taobaoIcon
  background url('../images/taobaoIcon.svg') no-repeat
  background-size 100% 100%
.tianmaoIcon
  background url('../images/tianmaoIcon.svg') no-repeat
  background-size 100% 100%
.userCenterBg
  background url('../../assets/images/bg_account.png') no-repeat
  background-size 100% 20rem
