.mint-cell:last-child
  background none
.mint-cell-wrapper
  background none
  padding 0 1.6rem
.userSet .mint-cell-label
  font-size 1.2rem
  color #75787F
  line-height 2rem
.userSet .cashSet .contText
  margin-top 2.8rem
  margin-bottom 2.8rem
.bindJdAccount
  .uploadShot
    display flex
    justify-content space-around
    text-align center
    h2
      display none
  .upload .finish_room .finish_room2
    display inline-block
  .upload .finish_room .room_add_img
    margin-right 0
    margin-top 0
  .upload .finish_room .finish_room2 .room_img
    margin-right 0
    margin-top 0
