.myTask .mint-tab-item-label
  font-size 1.4rem
  color #08090A
.myTask .mint-navbar .mint-tab-item.is-selected
  border-bottom 2px solid #08090A
.sureAlert, .mint-msgbox-confirm
  color red
  font-size 1.6rem
.wrap .mint-button--large
  width 90%
  margin 0 auto
.mint-cell:first-child .mint-cell-wrapper
  border 1px solid #ffffff
.moneyBank .mint-cell-wrapper
  background-image none
  padding 0
.mint-msgbox-cancel
  font-size 1.6rem
.btnss
  display inline-block
  width 19.6rem
  height 4rem
  border-radius 0.2rem
  background #FF3341
  color #ffffff
  font-size 1.6rem
  line-height 4rem
  text-align center
  outline none
  border none
  margin-top 5rem
.btnsure
  display inline-block
  width 90%
  height 4rem
  text-align center
  border-radius 0.2rem
  background #FF3341
  color #ffffff
  font-size 1.6rem
  line-height 4rem
  text-align center
  outline none
  border none
.wrap_bg .mint-radiolist
  margin-left -1.2rem
.wrap_bg .mint-radiolist .mint-cell-wrapper
  border-bottom 1px solid #D4D5D8
